* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

title {
    display: none;
}

body { 
    background-color: rgb(0, 18, 29);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    padding-left:20px;
    padding-right:20px;
}

#score-page-button,
#home-button {
    background-color: rgb(0, 48, 78);
    border-color:rgb(0, 204, 255);
    color:white;
    padding:6px;
    max-height: 200px;
    min-width: 350px;
    font-size: 36px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    padding-left:20px;
    padding-right:20px;
    margin-top:10px;
}

main { 
    display: flex;
    flex-direction: column;
    width:800px;
    height: 600px;
    background-color: rgb(0, 18, 29);
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

main section {
    background-color: rgb(0, 18, 29);
    min-height: 600px;
    width: 1200px;
    padding: 50px;
}

main p {
    color: white;
    font-size: 40px;
    padding: 30px;
}
main h2 {
    background-color: rgb(0, 48, 78);
    border-left-style: dashed;
    border-width: 10px;
    border-color:rgb(0, 204, 255);
    color:white;
    padding-left: 20px;
    font-size: 50px;
}

main h1{
    background-color: rgb(0, 48, 78);
    border-left-style: dashed;
    border-width: 10px;
    border-color:rgb(0, 204, 255);
    color:white;
    padding-left: 20px;
    font-size: 50px;
}

main h3 {
    border-left-style: dashed;
    border-width: 10px;
    border-color:rgb(0, 204, 255);
    color:white;
    padding-left: 20px;
    font-size: 24px;
}

.answerButton {
    background-color: rgb(0, 48, 78);
    border-color:rgb(0, 204, 255);
    font-size: 48px;
    color:white;
    padding:12px;
}

#start-button{
    background-color: rgb(0, 48, 78);
    border-color:rgb(0, 204, 255);
    font-size: 36px;
    color:white;
    padding:12px;

}

#clear-button{
    background-color: rgb(0, 48, 78);
    border-color:rgb(0, 204, 255);
    font-size: 36px;
    color:white;
    padding:12px;

}

#user-initials-button{
    background-color: rgb(0, 48, 78);
    border-color:rgb(0, 204, 255);
    font-size: 36px;
    color:white;
    padding:12px;
}

.mainwrapper { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-style: line;
    border-radius: 25px;
    border-color: black;
    border-width: 10px;
    margin-bottom: 10px;
    
}

#answer-status {
    color: whitesmoke;
    font-style: italic;
    font-size: 36px;
}

li::marker {
    color: white;
}

#score-list {
    background-color: rgb(0, 48, 78);
    border-color: cyan;
    padding:5px;
}

#score-list li {
    color: white;
    border-left-style: dashed;
    border-color: cyan;
    border-width: 3px;
    font-size: 40px;
    padding: 10px;
}

#timer {
    color: white;
    font-size: 90px;
}

#user-initials {
    height: 50px;
}

#user-initials text {
    font-size: 36px;
}